.mainBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 222, 222);

}
.inner{
    background-color: aqua;
    width: 70%;
    align-content: center;
    border-radius: 50px;

}
.blocks{
 
}
.bBlock{
    margin: 15px 15px 15px 15px;
    height: 200px;
    width: 250px;
    border: 2px solid black;
    border-radius: 15px;

}
.bImg img{
    width: 20%;
    margin: 30px 30px 30px 30px;

}
.bDetails{
    justify-content: center;
}
.bName{  overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: chocolate;
    font-weight: 400;
    padding-left: 10px;
    

}
.bType{padding-left: 10px;

}
