*{
    padding: 0;
    margin: 0;
}
.parent{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #A40606;
    background-image: linear-gradient(315deg, #A40606 0%, #D98324 74%); 
}
.data{
    min-height: 100vh;
}
.noch{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    max-height: 30px;
    
}
.type{
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-top:5px;
    padding-left: 110px;
 
}
.type button{
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    background: none;
    
}

.logout{
   display: flex;
   justify-content: flex-end;
   padding-right: 20px;
   padding-top: 5px;
   
}
.logoutBtn img{

    height: 22px
}
.search{
    padding-top: 30px;
  
}
.input {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 400px;
    height: 35px;
    padding-left: 10px;
    
    

    
  }
 .input::placeholder{
    align-items: center;
    text-align: center;
 } 

.data{
    padding: 30px;
  
    width: 70%;

}

.card{
    
    min-height: 250px;
    display: flex;
    background: transparent; 
    margin: 20px;
    width: 100%;
    

    
}
.line{
    
    
}
.line hr{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 2px;
    background: rgba(99, 44, 250, 0.17);
    border-width: 0px;
    border-style: solid;
    border-color: currentcolor;
}



.img{
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}
.image{
    
    width: 100%;
    height: 100%;
    
}
.image img{
    
    width: 100%;
    height: 100%;
    
}
.detalis{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.head{
    font-size: 22px;
    font-weight: bolder;
}
.hLink{
    text-decoration: none;
    color: white;
}
.description{
    color: rgba(0, 0, 0, 0.53);
    padding-top: 15px;
    font-size: 15px;

}
.open{
    padding-top: 20px;
    padding-bottom: 10px;
   
}
.oLink{
    font-size: 16.5px;
    font-weight: bold;
    color: white;
}

.mid{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between
}

.aImage{
    height: 40px;
    width: 40px;
    padding-right: 10px;
    
}
.aImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.author{
    
    display: flex;
    flex-direction: row;
    font-size: 15px;
}
.aDetails{
    padding-left: 10px;
}
.aName{
    font-size: 16px;
    font-weight: bold;
}
.type{
    font-size: 17px;
}
.time{

    padding-top: 5px;
    color:rgba(0, 0, 0, 0.53);
    font-size: 14px;
    
}
.bottom{
    margin-top: auto;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
font-size: 25px;
color: blanchedalmond;
font-weight: bold;
}
.loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A40606;
    background-image: linear-gradient(315deg, #A40606 0%, #D98324 74%); 
}
.btnActive {
    text-decoration: underline;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width: 870px) {  
    .parent { 
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .noch{
        display: flex;

    }
    .type{
        padding-left: 0px;
    }
    .detalis{
        width: 100%;
    }

    .input{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        padding: 0;
    }
    .input:focus{
        padding-left: 10px;
    }
    .data{ 
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 30px 0  30px;
        padding-right: 0;
        margin-right: 0;
       width: 100%;
       
    }
    .card{
    
        margin: 20px 0 20px 0;
        max-width: 60%;
        flex-direction: column;
        
        
    }
   

    .img{
       
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        
        
    }
    .open{
        padding-top: 10px;
    }
 
    .img img{
        border-radius: 20px;
        
        height: 100%;
        
    }
    .search{
        width: 60%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .description{
        overflow: hidden;
        max-width: 25ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 15px;
        font-size: 15px;
    
    }

  }